import request from '@/config/axios'

export const queryListApi = (params: any): Promise<IResponse> => {
  return request.post({ url: '/vadmin{{api_route}}/query', data:params })
}

export const addApi = (data: any): Promise<IResponse> => {
  return request.post({ url: '/vadmin{{api_route}}/add', data })
}

export const delApi = (data: any): Promise<IResponse> => {
  return request.post({ url: '/vadmin{{api_route}}/del', data })
}

export const updateApi = (data: any): Promise<IResponse> => {
  return request.post({ url: `/vadmin{{api_route}}/update/${data.id}`, data })
}

export const getApi = (dataId: number): Promise<IResponse> => {
  return request.get({ url: `/vadmin{{api_route}}/get/${dataId}` })
}

